@import '../../uni.scss';

.comment-list {
	position: relative;
	width: 95%;
	margin: 0 0 40rpx 5%;
	padding: 20rpx 20rpx 20rpx 100rpx;
	border-radius: 8rpx;
	background: #f0f2f7;
	color: #666;

	.list-gravatar {
		width: 120rpx;
		height: 120rpx;
		position: absolute;
		top: 10rpx;
		left: -30rpx;
		border-radius: 8rpx;
	}

	.list-header {
		display: flex;
		flex-wrap: wrap;
		align-items: center;

		.author {
			margin-right: 6rpx;
			font-size: 36rpx;
			font-weight: 700;

		}
		.icon-vip {
				display: inline-block;
				margin-right: 5px;
				&.vip-style-1 {
						width: 20px;
						height: 18px;
				}
		}
	}
}

// 浏览器信息
.browser-info {
  display: inline-block;
  vertical-align: text-bottom;
  margin-right: 5px;
  padding: 2px 4px;
  background: #06aaff;
  border-radius: 3px;
  color: #fff;

  &.chrome {
	background: linear-gradient(to right, #5087ec, #d95040, #f2bd42);
  }

  &.safari {
	background: linear-gradient(to right, #2670cb, #47a2c5);
  }

  &.firefox {
	background: linear-gradient(to right, #dd3a45, #fcea67);
  }

  &[class*="qq"] {
	background: linear-gradient(to right, #3072d1, #4ea8f3);
  }

  &.edge {
	background: #4378b5;
  }

  &.internet-explorer {
	background: linear-gradient(to right, #fadc4f, #8ae2fb, #57a0d4);
  }

  &.micromessenger {
	background: #94d258;
  }

  &.ucbrowser {
	background: linear-gradient(to right, #ed5e31, #f8cd46);
  }

  &.opera {
	background: #eb3b3a;
  }
}
// 系统信息
.system-info {
  display: inline-block;
  vertical-align: text-bottom;
  margin-right: 5px;
  padding: 2px 4px;
  background: #fc5c7d;
  background: linear-gradient(to right, #fc5c7d, #6a82fb);
  border-radius: 3px;
  color: #fff;
}

// 评论者等级
.icon-vip {
  display: inline-block;
  margin-right: 5px;
  // 博主
  &.icon-admin {
	width: 20px;
	height: 20px;
	background-position: -172px -70px;
  }

  &.vip-style-1 {
	width: 40rpx;
	height: 36rpx;
	@for $i from 1 through 7 {
	  &.vip#{$i} {
		background-repeat: no-repeat;
		background-image: url("../../static/image/vip-style-1-#{$i}.png");
		background-size: contain;
	  }
	}
  }
}
// 博主
.icon-admin {
  margin-right: 10rpx;
}

.list-content {
  margin: 20rpx 0;

 navigator {
	color: $uni-color-primary;
  }

 image {
	max-width: 40%;
	height: initial !important;
	max-height: initial !important;
	vertical-align: bottom;
  }
	  
  .c-theme {
	  color: $uni-color-primary;
  }
}
	
.list-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 24rpx;
  color: #a8b6c0;
	.opinion {
		display: flex;
		align-items: center;
	}
	.opinion-btn {
		margin-left: 20rpx;
	}

  .iconfont {
	vertical-align: baseline;
  }
  
}